<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ film.title }}</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    </head>
    <body class="bg-light" style="background-image: url('{{ film.movie_banner }}'); background-repeat: no-repeat; background-size: cover;">
        <nav style="background-color: white; opacity: 0.8" class="d-flex justify-content-center">
            <a class="m-2 text-center lead" href="/">Home</a>
            <a class="m-2 text-center lead" href="/films">Films</a>
        </nav>

        <div class="container">
            <div style="min-height: 95vh" class="row align-items-center text-center justify-content-center">
                <div class="col-12">
                    <div style="opacity: 0.8" class="card bg-white shadow-lg m-5 p-2">
                        <div class="card-title row">
                            <div class="col-12 col-md-9 row">
                                <h1 class="display-2">{{ film.title }}</h1>
                                <h4>({{ film.original_title }} / "{{ film.original_title_romanised }}")</h4>
                            </div>
                            <div class="col-12 col-md-3">
                                <img class="col-3" style="width: 5rem; height: auto" src="{{ film.image }}" alt="" class="card-cap" />
                            </div>
                        </div>
                        <div class="card-body">
                            <h6>{{ film.description }}</h6>
                            <hr />
                            <p>
                                Rotten Tomatoes: {{ film.rt_score }}/100. Runtime {{ film.hours }}h {{ film.minutes }}m. Released {{
                                film.release_date }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
